* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
}

.first-line {
	padding: 10px 10px 0 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.first-line p {
	padding: 10px 20px;
	background-color: rgb(142, 94, 94);
	border-radius: 5px;
	font-weight: bold;
}

.hs-button {
	border: 0;
	line-height: 2.5;
	font-size: 15px;
	padding: 0 10px;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 0.55);
}

.hs-button:hover {
	background-color: rgba(255, 0, 0, 0.27);
	cursor: pointer;
}

.hs-button:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

header h1 {
	display: block;
	text-align: center;
	padding-bottom: 20px;
	color: #909;
}

.card {
	background-color: hsl(0, 0%, 68%);
	border-radius: 20px;
	color: hsl(0, 0%, 0%);
	font-size: 18px;
	margin: 0 auto;
	max-width: 800px;
	padding: 30px 20px 0;
}

.card-header::after {
	content: " ";
	display: block;
	width: 100%;
	background: #e7e9eb;
	height: 2px;
}

.quiz-content {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	display: block;
	width: 100%;
	height: 650px;
	font-size: 1.2rem;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid black;
	border-radius: 6px;
	overflow: hidden;
}

.card-footer {
	text-align: center;
}

.card-footer::before {
	content: " ";
	display: block;
	width: 100%;
	background: #e7e9eb;
	height: 2px;
}

.card-footer::after {
	content: " ";
	display: block;
	clear: both;
}

.btn {
	border: none;
	background-color: hsl(360, 91%, 36%);
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
	color: hsl(0, 0%, 100%);
	display: inline-block;
	font-size: 22px;
	line-height: 22px;
	margin: 15px 0;
	padding: 12px;
	text-align: center;
	cursor: pointer;
}

@media (max-width: 690px) {
	.btn {
		font-size: 1rem;
	}
}